* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: rgb(203, 247, 255);
}

.Page-container {
  width: 75%;
  margin: 10px auto;
  padding: 30px;
  background-color: white;
  position: relative;
}

/* input[type=text], input[type=password], select { */
input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 30%;
}

.Checkout form {
  margin: 0 auto;
  max-width: 30%;
}

.Register {
  padding: 60px 0;
}

.Register form {
  margin: 0 auto;
  max-width: 30%;
}

button {
  background-color: deepskyblue;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.RemoveButton {
  background-color: salmon;
}

.RemoveAllButton {
  background-color: lightsalmon;
}

.Cart {
  padding: 10px 30px;
  margin: auto;
  width: 80%;
  /* border: 3px solid green; */
  /* background-color: ivory; */
}

table.CartTable {
  table-layout: auto;
  width: 100%;
  text-align: center;
}

.CheckoutUserForm {
  padding: 50px 20px;
}

/* label {
  display: inline-block;
  width: 20%;
  text-align: right;
} */
