* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: rgb(203, 247, 255);
}

.Page-container {
  width: 1000px;
  margin: 10px auto;
  padding: 30px;
  background-color: white;
  position: relative;
}

.Food-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.Food-listing .Food-list-item {
  padding: 10px 30px;
  width: 200px;
}

ul.Top-menu {
  position: absolute;
  right: 50px;
  top: 50px;
}

ul.Top-menu li {
  display: inline-block;
}

ul.Top-menu li:before {
  content: '|';
  margin: 0 4px;
}

ul.Top-menu li:nth-child(1):before {
  content: '';
}
